# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Matlab files
*.m~

# Extra - project specific
c++/test
*.mexa64

# Do not add the generated solvers and intermediate files
generate_solvers/solvers*
generate_solvers/cache/*
generate_solvers/*.m2
